.hidden-input {
  display: none;
}

.hidden {
  display: none;
}

.upload-form {
  display: grid;
  gap: 20px; 
  padding: 1rem;
  border-radius: 10px;
}

.upload-picture {
  width: 500px; 
  height: auto;
  margin: 0 auto;
}

.image-label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.upload-form ion-item {
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
}

.upload-form ion-item:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.upload-form ion-button {
  margin-top: 20px;
  max-width: 90%;
  margin: 0 auto;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

/* Mobile styles */
@media (max-width: 768px) {
  .image-label-container {
    flex-direction: column
  }
}
