ion-item:hover {
  --background: rgb(21, 255, 0);
  --color: var(--ion-color-primary);
  cursor: pointer;
}

ion-item {
  --padding-start: 20px;
}

ion-item::part(detail-icon) {
  color: #ff00ff;
  opacity: 1;
}