.checkbox {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.square-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.input-container {
  width: 100%;
  overflow: hidden;
}

.input-container input {
  width: 90%;
  box-sizing: border-box; 
}

.observationImage {
  max-width: 30rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 1rem 0;
  row-gap: 1rem;
}

.cardContainer > * {
  flex: 0 0 calc(50% - 20px);
}

@media (max-width: 768px) {
  .cardContainer > * {
    flex: 1 0 100%;
    margin: 0 auto;
  }
}
