.swiper {
  height: 100vh;
}

.swiper-slide img {
  height: 38vh;
  margin-bottom: 40px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-text h2, .intro-text p {
  margin: 15px;
  padding: 10px;
}

@media screen and (max-width: 769px) {
  .intro-text h2, .intro-text p {
    margin: 9px;
    padding: 5px;
  }
  .swiper-slide img {
    margin-bottom: 24px;
  }
}